body{
  margin: 0;
  -webkit-transition: width 1s ease-out 0.3s;
  -moz-transition: width 1s ease-out 0.3s;
  -o-transition: width 1s ease-out 0.3s;
  transition: width 1s ease-out 0.3s;
}

.container{
  width: 1024px;
  margin: 0 auto;
  padding: 40px 0px 150px 0px;
}

.text-center{
  text-align: center;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}
