.progress-bar{
  height: 52px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  .scale{
    background: #2ECA5D;
    position: absolute;
    height: 52px;
    margin-left: 0px;
    -webkit-transition: width 1s ease-out 0.5s;
    -moz-transition: width 1s ease-out 0.5s;
    -o-transition: width 1s ease-out 0.5s;
    transition: width 1s ease-out 0.5s;
  }
  .number{
    font-size: 25px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 10px;
    -webkit-transition: margin 1s ease-out 0.5s;
    -moz-transition: margin 1s ease-out 0.5s;
    -o-transition: margin 1s ease-out 0.5s;
    transition: margin 1s ease-out 0.5s;
  }
  &.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}

.progress-bar-shadow{
  height: 52px;
  width: 100%;
  display: none;
}