.header{
  height: 90px;
  background: #EBE351;
}

.header-logo{
  background: url('images/logo.png') no-repeat 50% 50%;
  background-size: cover;
  height: 57px;
  width: 197px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
}

.header-login{
  font-size: 18px;
  color: #F45A10;
  float: right;
  margin-top: 36px;
  margin-right: 50px;
}

