.test-body-search-content{
  background: white;
  position: absolute;
  width: 60%;
  z-index: 9;
  margin-left: 85px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0,0.3);
}


.test-body-search-content_item{
  font-size: 20px;
  color: black;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  &:hover{
    background: #c1c1c1;
    cursor: pointer;
  }
}