.test{

}


.test-title{
  font-size: 48px;
  color: rgba(0,0,0,0.63);
}



.test-body{
  margin-top: 80px;
  padding-left: 60px;
}
.test-body__title{
  font-size: 27px;
  color: #9B9B9B;
  margin-bottom: 40px;
}
.test-body-item{
  margin-bottom: 55px;
  height: 75px;
}
.test-body-item__marker{
  display: inline-block;
  width: 55px;
  height: 77px;
  background: white;
  border: 1px solid #e6e6e6;
  //background: #F6A623;
  border-radius: 8px;
}
.test-body-item__input{
  border-radius: 8px;
  width: 80%;
  background: #FFFFFF;
  border: 2px solid #9B9B9B;
  color: black;
  padding-left: 25px;
  font-size: 36px;
  margin-left: 25px;
  vertical-align: top;
  height: 75px;
}


.test-body__next-step{
  background: #2ECA5D;
  border: none;
  border-radius: 8px;
  font-size: 40px;
  color: #FFFFFF;
  padding: 25px 80px;
  text-decoration: none;
  &:hover{
    background: #29ca91;
  }
}